/* application */
*
{
    margin: 0em;
    padding: 0em;
}

body 
{
    background-color:#FFFFFF;
    background-image:url(/images/background.gif);
    background-position:center top;
    background-repeat:repeat-x;
    font-size:11px;
    font-family:verdana;
}

#outer
{
    padding:0em 1.5em 0em 1.5em;
}

#menu
{
    margin: 1em 0em;
}

#menu ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

#menu li 
{
    display:inline;
    border-left:1px dotted #333333;
}

#menu li.first 
{
    border-left:0px none;
    padding-left:0em;
}

#menu li a
{
    font-weight:bold;
    text-decoration:none;
    padding:0em 0.8em;
    color:#333333;
}

#menu li a.first
{
    padding-left:0em;
}

#flash
{
    margin: 1em 0em;
    font-weight: bold;
    font-size: 15px;
}

#flash .error
{
    color: red;
}

#flash .notice
{
    color: green;
}

#footer 
{
    margin:1em 0em;
    text-align:right;
}

#footer hr
{
    border-top: 1px dotted #CACACA;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-bottom: 1em;
}

/* page view */

#content *
{
    margin: 1em 0em;
}

#content br /* Firefox bug? */
{
    margin: 0px;
}

#content pre
{
    padding: 0.5em 0.5em;
    background: #F3F3F3;
}

#content ul
{
    margin-left:1.5em;
}

/* page edit */

#edit
{
    margin-top: 2em;
    margin-bottom: 2em;
}

#edit .title
{
    width: 100%;
    font-size: large;
    margin-bottom: 0.5em;
    padding: 0.2em;
}

#edit .body
{
    margin-bottom: 0.5em;
    width: 100%;
    padding: 0.2em;
}

#edit .save
{
    font-size: large;
    padding: 0.2em 1em;
}

#errors
{
    color: red;
}


