<h1>Listing file_resources</h1>

<table>
  <tr>
  </tr>

<% for file_resource in @file_resources %>
  <tr>
    <td><%= link_to file_resource.name, file_resource.path %></td>
    <td><%= link_to 'Destroy', :controller => 'file_resources', :action => 'destroy', :method => :delete, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New file_resource', new_file_resource_path %>
