<h1>New file_resource</h1>

<%= error_messages_for :file_resource %>

<% form_for(@file_resource) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', file_resources_path %>
