<h1>New file_resource</h1>

<% form_tag(file_resources_path, :multipart => true) do %>
  <p>
    <%= file_field_tag :file %>
  </p>
  <p>
    <%= submit_tag "Upload" %>
  </p>
<% end %>

<%= link_to 'Back', file_resources_path %>
